<h1>équipe générée aléatoirement :</h1>
<ng-container *ngIf="randomTeam$ | async as randomTeam">
    <h2>Pokémons :</h2>
    <div *ngFor="let pokemon of randomTeam.pokemons">
        {{ pokemon.name }}
    </div>

    <h2>Résumé des résistances et des faiblesses :</h2>
    <div *ngFor="let resume of randomTeam.resumes">
        {{ resume.name }} - {{ resume.result }}
    </div>
</ng-container>