<h1>{{ isInCreation ? 'Nouvelle ressource :' :'Modification de la ressource :' }}</h1>
<form (ngSubmit)="submit()">

    <div class="form-group">
        <label>Code</label>
        <input placeholder="Code.." name="code" class="form-control" [(ngModel)]="ressource.code">
    </div>
    <div class="form-group">
        <label>Label</label>
        <input placeholder="Libellé.." name="label" class="form-control" [(ngModel)]="ressource.label">
    </div>
    <div class="d-flex mt-2">
        <button type="submit" class="btn btn-success">
            {{ isInCreation ? 'Créer':'Mettre à jour' }}
        </button>
        <button type="button" appConfirm [message]="'Attention vos données seront annulées ; êtes-vous sûr ?'"
            (confirmed)="cancel.emit()" class="btn btn-danger">Annuler</button>
    </div>
</form>