<ng-template #inferieurA50>
    <div>
      Inférieur à 50
    </div>
  </ng-template>
  
  <div class="container mt-4 d-flex flex-column gap-5">
    <app-date-du-jour>
      Contenu en plein milieu
      <app-date-du-jour></app-date-du-jour>
    </app-date-du-jour>
  
    <app-slider [value]="sliderValue" (valueChange)="sliderValue=$event"></app-slider>
    {{sliderValue}}
    <app-slider #s [(value)]="sliderValue2"></app-slider>{{sliderValue2}}
    <app-progress-bar appAlert [message]="'Slider valuue = '+ sliderValue" [value]="sliderValue"></app-progress-bar>
    <app-progress-bar appAlert [message]="'Slider valuue = '+ sliderValue2" [value]="sliderValue2"></app-progress-bar>
  
    <ng-container *ngIf="sliderValue2 >= 50 else inferieurA50">
      Supérieur à 50
    </ng-container>
  
  
  
  
    <div *ngFor="let n of numbers">
      <app-slider [value]="n*10" [ngClass]="'n-'+n"></app-slider>
    </div>
  
    <input type="text" #i class="form-control">
    <div [ngSwitch]="i.value" [ngStyle]="{'color':i.value == 'red' ? 'red':'green'}">
      <span *ngSwitchCase="'happy'">Happy!!</span>
      <span *ngSwitchCase="'sad'">Sad !</span>
      <span *ngSwitchDefault>
        Tout sauf happy ou sad
      </span>
    </div>
  
  </div>