<div class="container">
  <div class="d-flex gap-2">
    <a class="btn btn-primary" routerLink="/accueil">Accueil</a>
    <a class="btn btn-primary" routerLink="/ressources">Ressources</a>
    <a class="btn btn-primary" routerLink="/pokedex">Pokédex</a>
    <a class="btn btn-primary" routerLink="/pokedex/random-team">équipe pokémon générée</a>
    <a class="btn btn-primary" routerLink="/projets">Projets</a>
    <a class="btn btn-primary" routerLink="/rxjs">Rxjs</a>
  </div>
  <router-outlet></router-outlet>
</div>