<h1>Liste des ressources :</h1>
<button type="button" class="btn btn-primary" (click)="addRessource()">Ajouter une ressource</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Label</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ressource of ressources">
            <td>{{ ressource.id }}</td>
            <td>{{ ressource.code | cutText:"fezfzef" | lowercase }}</td>
            <td>{{ ressource.label }}</td>
            <td>
                <div class="d-flex flex-row flex-wrap gap-2">
                    <button type="button" class="btn btn-success" (click)="updateRessource(ressource)">
                        Modifier
                    </button>
                    <button type="button" class="btn btn-danger" appConfirm
                        [message]="'Confirmez-vous la suppression ?'" (confirmed)="deleteRessource(ressource)">
                        Supprimer
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>