<h1>Pokédex :</h1>

<form (ngSubmit)="filter(search.value)">
    <input name="search" class="form-control" #search type="text" placeholder="Filtrer les résultats..">
    <button class="btn btn-primary">Filtrer</button>
</form>
<ng-container *ngIf="pokemonsAndTypes$ | async as pokemonsAndTypes else loading">
    <button type="button" class="btn btn-danger" (click)="playAllSongs(pokemonsAndTypes.pokemons)">Lire tous les sons</button>
    <h3>{{pokemonsAndTypes.types.length}} types trouvés</h3>
    <div class="d-flex flex-row flex-wrap gap-4">
        <div class="pokemon-type" *ngFor="let type of pokemonsAndTypes.types">
            {{ type.name }}
            <img class="img-type" [src]="type.image">
        </div>
    </div>
    <h3 class="d-block mt-3 mb-2">{{pokemonsAndTypes.pokemons.length}} pokémons trouvés</h3>
    <div class="d-flex flex-row flex-wrap gap-4">
        <div #fichePokemon [class.is-playing]="pokemon.isPlaying" *ngFor="let pokemon of pokemonsAndTypes.pokemons" class="card pokemon-tile" (click)="playPokemonCry(pokemon)">
            {{ pokemon.id }} - {{ pokemon.name }}
            <img [src]="pokemon.image">
        </div>
    </div>
</ng-container>
<ng-template #loading>
    Chargement en cours..
</ng-template>