.pokemon-tile {
    width: 200px;
    text-align: center;
}

.img-type {
    width: 20px;
}

.pokemon-type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.is-playing {
    border: dashed green 2px;
}